<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzy.blog.mapper.AboutMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lzy.blog.pojo.About">
        <id column="about_id" property="aboutId"/>
        <result column="about_title" property="aboutTitle"/>
        <result column="about_content" property="aboutContent"/>
        <result column="about_read" property="aboutRead"/>
        <result column="created_time" property="createdTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="enable" property="enable"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          about_id,
          about_title,
          about_content,
          about_read,
          created_time,
          update_time,
          version,
          enable,
          deleted
    </sql>

    <!--添加-->
    <insert id="save" parameterType="com.lzy.blog.pojo.About">
        insert into bl_about(about_title,about_content) values (
            #{aboutTitle},#{aboutContent}
        )
    </insert>

    <!--更新-->
    <update id="updateById" parameterType="com.lzy.blog.pojo.About">
        update bl_about set
        version = version+1
        <if test="aboutTitle !=null and aboutTitle !=''">
            ,about_title = #{aboutTitle}
        </if>
        <if test="aboutContent !=null and aboutContent !=''">
            ,about_content = #{aboutContent}
        </if>
        <if test="aboutRead !=null">
            ,about_read = #{aboutRead}
        </if>
        where about_id = #{aboutId}
        and version = #{version}
    </update>

    <!--根据id删除-->
    <update id="deleteById">
        update bl_about set
        deleted = 1
        where about_id = #{id}
    </update>

    <!--更新启用状态-->
    <update id="updateEnable" parameterType="com.lzy.blog.pojo.About">
        update bl_about set
        version = version +1,
        enable = #{enable}
        where about_id = #{aboutId}
        and version = #{version}
    </update>

    <!--根据id查询-->
    <select id="getById" resultMap="BaseResultMap">
        select
            about_id,
            about_title,
            about_content,
            about_read,
            created_time,
            update_time,
            version
        from bl_about
        where about_id = #{aboutId}
        and deleted = 0
    </select>

    <!--查询关于-->
    <select id="getAbout" resultMap="BaseResultMap">
        select
            about_id,
            about_title,
            about_content,
            about_read,
            created_time,
            update_time,
            version
        from bl_about
        where enable = 1
        and deleted = 0
        limit 1
    </select>

    <!--分页查询-->
    <select id="getByPage" parameterType="com.lzy.blog.utils.PageUtils" resultMap="BaseResultMap">
        select
            about_id,
            about_title,
            about_read,
            created_time,
            update_time,
            enable
        from bl_about
        where deleted = 0
        <if test="params.aboutTitle != null and params.aboutTitle != ''">
            and about_title like concat('%',#{params.aboutTitle },'%')
        </if>
        <if test="sortColumn!=null and sortColumn!=''">
            order by ${sortColumn} ${sortMethod}
        </if>
        limit #{index}, #{pageSize}
    </select>
    <!--查询总数-->
    <select id="getCountPage" parameterType="com.lzy.blog.utils.PageUtils" resultType="java.lang.Integer">
        select
        count(*)
        from bl_about
        where deleted = 0
        <if test="params.aboutTitle != null and params.aboutTitle != ''">
            and about_title like concat('%',#{params.aboutTitle },'%')
        </if>
    </select>

</mapper>
